<form (ngSubmit)="filterPosts()" class="max-w-lg mx-auto">
  <div class="flex">
    <div class="flex">
      <select [(ngModel)]="filter.field" name="field" class="border-2 border-gray-300 border-r p-2">
        <option value="">Select Filter</option>
        <option value="author">Author</option>
        <option value="content">Content</option>
      </select>
    </div>
    <div class="relative w-[350px]">
      <input
        [disabled]="!inputFieldIsActive()"
        [(ngModel)]="filter.value"
        name="value"
        type="search" id="search-dropdown"
        class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Search Author, Content, ..." />
      <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </div>
  </div>
</form>
