<div *ngIf="post">
  <div class="p-6 bg-white">
    <h5 class="text-5xl font-bold tracking-tight text-gray-900">{{post.getTitle()}}</h5>
    <p
      class="mt-5 text-xl font-normal text-gray-700 min-h-[600px]">
      {{post.getContent()}}
    </p>
  </div>
  <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
    <div class="flex justify-between items-center">
    <span>
      Author: {{ post.getAuthor() }}
    </span>
      <span class="text-sm text-slate-600 font-medium">
      Last update: {{ post.getDate() }}
    </span>
    </div>
  </div>

  <button
    *ngIf="post.getPostStatus() === 'APPROVED'"
    class="fixed bottom-4 left-4 rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-xl text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
    type="button"
    (click)="publishPost(post.getId())"
  >
    Publish
  </button>
  <div class="flex justify-end">
    <button class="cursor-pointer" (click)="navigateToUpdate(post.getId())">
        <span class="edit-icon material-symbols-outlined">
          edit
        </span>
    </button>
  </div>
</div>
