<article class="p-6 mb-3 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
  <footer class="flex justify-between items-center mb-2 relative">
    <div class="flex items-center">
      <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
        <img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Bonnie Green">{{comment.commenter}}
      </p>
      <p class="text-sm text-gray-600 dark:text-gray-400">
        <time datetime="2022-03-12" title="March 12th, 2022">{{comment.dateOfComment}}
        </time>
      </p>
    </div>
    <button (click)="toggleDropdown()"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
        <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div *ngIf="isDropdownOpen"
         class="absolute right-0 z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow mt-[10%]">
      <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
        <li>
          <button (click)="toggleEditMode()" class="w-full text-left block py-2 px-4 hover:bg-gray-100">Edit</button>
        </li>
        <li>
          <button (click)="deleteComment()" class="w-full text-left block py-2 px-4 hover:bg-gray-100">Remove</button>
        </li>
      </ul>
    </div>
  </footer>
  <textarea
    [ngClass]="{'bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-400 focus:outline-none focus:bg-white': editMode, 'bg-white leading-normal resize-none w-full h-20 py-2 px-3': !editMode}"
    [(ngModel)]="comment.description"
    [disabled]="!editMode"
    required>
  </textarea>
  <div *ngIf="!editMode" class="flex items-center mt-10 space-x-4">
    <button type="button"
            class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">
      <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
      </svg>
      Reply
    </button>
  </div>
  <div class="mt-5" *ngIf="editMode">
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-[100px]"
      (click)="updateComment()"
    >
      Save
    </button>
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-[100px] ml-3"
      (click)="leaveEditMode()"
    >
      Cancel
    </button>
  </div>
</article>

